<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    <%- include('common/header') %>

        <main class="main">

            <section class="about-container" data-aos="zoom-in" data-aos-duration="1500">
                <div class="about-content">
                    <h3>About Us</h3>

                    <div class="about__content">
                        <p>
                            <i class="ri-star-fill"></i> FindMyCampus is India's most vibrant education platform used by over many students and
                            colleges. Our aim is to simplify college selection and admission by helping students find the right college, rather than the best one.
                        </p>
                        <p>
                            <i class="ri-star-fill"></i> We are an extensive search engine designed to assist students, parents, and education
                            industry players in their quest for information about higher education in India.
                            Our mission is to empower students with knowledge, ensuring they make informed decisions when choosing their career paths and alma maters.
                        </p>
                    </div>

                    <div class="about__content">

                        <h3>What We Offer?</h3>
                        <ul>
                            <li><i class="ri-star-fill"></i> <strong>Comprehensive College Search:</strong> Use FindMyCampus as your one-stop
                                destination to explore your dream colleges. Discover information about available courses, admission processes, and more. Our repository includes details on over many
                                colleges and courses across various streams.</li>
                            <li><i class="ri-star-fill"></i> <strong>Customized Filters:</strong> Filter colleges based on location, exams, and fees.
                            </li>
                            <li><i class="ri-star-fill"></i> <strong>Student-Friendly Information:</strong> We address the concerns of unavailability
                                of an efficient and user-friendly online platform for prospective students to search and discover colleges in India.</li>
                        </ul>

                    </div>

                    <div class="about__content">
                        <h3>Our Mission</h3>
                        <p>
                            <i class="ri-star-fill"></i> We believe that choosing a college is the second most significant decision in anyone's life,
                            and it should not go wrong. With our interactive user interface and validated content, we
                            aspire to be the top education portal, assisting students in making well-informed decisions.
                        </p>
                    </div>


                    <div class="about__content">
                        <h3>Our Vision</h3>
                        <p>
                            <i class="ri-star-fill"></i> FindMyCampus aims to empower students by providing knowledge to help them make wiser decisions when selecting their career path. We strive to simplify the college search process, ensuring that students find the right fit for their aspirations.
                        </p>
                    </div>

                </div>

            </section>

        </main>

        <%- include('common/footer') %>
        
</body>

</html>